{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
{% endblock head %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form id="form-user-supervisor">
            <div class="container">
                <div class="row">
                    <!-- Campo de supervisor -->
                     {% csrf_token %}
                     <input type="hidden" name="action" id="action" value="add-1">
                    <div class="form-group col-12 col-md-4 mb-2">
                        <label for="id_supervisor">{{ form_user_supervisor.supervisor.label }}</label>
                        {{ form_user_supervisor.supervisor }}
                    </div>
        
                    <!-- Campo de usuario supervisado -->
                    <div class="form-group col-12 col-md-4 mb-2">
                        <label for="id_supervised_user">{{ form_user_supervisor.supervised_user.label }}</label>
                        {{ form_user_supervisor.supervised_user }}
                    </div>
        
                    <!-- Botón de guardar -->
                    <div class="form-group col-12 col-md-4 mt-3">
                        <button type="button" id="btn-user-supervisor" class="btn btn-primary btn-sm mt-3">
                            GUARDAR
                        </button>
            
                    </div>
                </div>
            </div>
        </form>
        <div
            class="table-responsive"
        >
            <table
                class="table"
                id="user-supervisor"
               
            >
                <thead>
                    <tr  id="header-title">
                        <th scope="col">ID</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Supervisado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data_supervised %}
                        <tr>
                            <td>{{value.id}}</td>
                            <td>{{value.supervisor}}</td>
                            <td>{{value.supervised_user}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="col-md-6">
        <form id="form-user-empresa">
            <div class="container">
                <div class="row">
                    <!-- Campo de supervisor -->
                     {% csrf_token %}
                     <input type="hidden" name="action" id="action" value="add-2">
                    <div class="form-group col-12 col-md-4 mb-2">
                        <label for="id_usuario">{{ form_user_empresa.usuario.label }}</label>
                        {{ form_user_empresa.usuario }}
                    </div>
        
                    <!-- Campo de usuario supervisado -->
                    <div class="form-group col-12 col-md-4 mb-2">
                        <label for="id_empresa">{{ form_user_empresa.empresa.label }}</label>
                        {{ form_user_empresa.empresa }}
                    </div>
        
                    <!-- Botón de guardar -->
                    <div class="form-group col-12 col-md-4 mt-3">
                        <button type="button" id="btn-user-empresa" class="btn btn-primary btn-sm mt-3">
                            GUARDAR
                        </button>
            
                    </div>
                </div>
            </div>
        </form>
        <div
            class="table-responsive"
        >
            <table
                class="table"
                id="user-empresa"
            >
                <thead>
                    <tr  id="header-title">
                        <th scope="col">ID</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Empresa asignada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in data_user_empresa %}
                        <tr>
                            <td>{{value.id}}</td>
                            <td>{{value.usuario}}</td>
                            <td>{{value.empresa}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$("#btn-user-supervisor").on("click", function(e) {
    e.preventDefault()
    var parameters = new FormData(document.getElementById("form-user-supervisor"));
    submit_with_ajax(window.location.pathname, "Notificación", "¿Está seguro de realizar la acción?", parameters, function() {
        location.href = '{{ list_url }}';
    });
});

    $("#btn-user-empresa").on("click",function(e){
        e.preventDefault()
        var parameters = new FormData(document.getElementById("form-user-empresa"))
        submit_with_ajax(window.location.pathname,"Notificacion","¿Esta seguro de realizar la accion?",parameters,function(){
            location.href = '{{ list_url }}';

        })
        
    })
    new DataTable("#user-empresa",{
        autoWidth:false,
        language:{
                url:"{% static '/lib/datatables/spain.json' %}"
            },
        "order": [[0, 'desc']],
        lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 filas', '25 filas', '50 filas', 'Todo' ]
            ],

    })
    new DataTable("#user-supervisor",{
        autoWidth:false,
        language:{
                url:"{% static '/lib/datatables/spain.json' %}"
            },
        "order": [[0, 'desc']],
        lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 filas', '25 filas', '50 filas', 'Todo' ]
            ],

    }
    )
</script>
{% endblock content %}
