{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- CDN de Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'dashboard/js/dash.js' %}"></script>
    <script src="{% static 'dashboard/js/load_data.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"/>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col ms-4">
           <canvas id="hora"></canvas>
        </div>
        <div class="col ms-4" id="">
            <canvas id="mes"></canvas>
        </div>
        <div class="col ms-4">
            <div class="container d-flex flex-row">
                <div class="col ms-8 flex-column align-items-center mt-1">
                    
                    <h6>Peronas dentro de la instalacion</h6>
                
                    <div class="text-center" id="personal-dentro" >
                        <div  id="personal-dentro-title">
                            <h6>Visitas</h6>
                        </div>
                        <p>{{cantidad_visitas}}</p>
                    </div>
                    <div class="text-center mt-1" id="personal-dentro">
                        <div  id="personal-dentro-title" >
                            <h6>Trabajadores</h6>
                        </div>
                        <p>{{cantidad_personal}}</p>
                    </div>
                    <div class="text-center mt-1" id="personal-dentro">
                        <input  type="button" id="header-title" style="width: 100%;justify-content: center;border-color: white;" value="Total : {{total_personas}}" class="btn-show-personas"/>
                    </div>
                </div>
                <div class="col ms-4 align-items-center mt-1 justify-content">
                    <label for="desde">Desde</label>
                    <input type="date" name="desde" id="desde" class="form-control">
                    <label for="desde">Hasta</label>
                    <input type="date" name="hasta" id="hasta" class="form-control">
                    <button  class="btn btn-danger  mt-2" id="btn-report" style="width: 100%;">GENERAR REPORTE </button>
                    <a class="link mt-1" href="{% url 'dashboard:list_data_movil' %}" >Datos de la app movil</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <div>
        <div class="table-responsive">
            <input type="datetime-local" class="form-control form-control-sm" style="width: 210px" value="{{ datetime_actual|date:'Y-m-d\TH:i' }}" id="fecha_hora">
            <table class="table table-striped
            table-hover	
            table-borderless
            align-middle" id="data">
                <thead class="table-light" >
                    <caption>VISITAS PROGRAMADAS PARA HOY</caption>
                    <tr id="header-title">
                        <th>#ID</th>
                        <th>NOMBRES Y APELLIDOS</th>
                        <th>FECHA</th>
                        <th>HORA</th>
                        <th>SALA</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider" id="data-body">
                       
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
            </table>
        </div>
        
    </div>
    <div class="modal fade" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="modalPersonsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalPersonsLabel">Listado de Personas dentro de la coorporacion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div
                    class="table-responsive"
                >
                    <table
                    id="data-1"
                    class="table table-striped table-hover table-borderless align-middle"
                    >
                        <thead  >
                            <tr id="header-title" style="background-color: rgb(238, 137, 49);" >
                                <th style="width: 40%;">Nombres y Apellidos</th>
                                <th style="width: 20%;">Documento</th>
                                <th style="width: 30%;">Empresa</th>
                                <th style="width: 10%;">Tipo</th>

                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            
                                {% for item in lista_personas  %}
                                <tr>
                                    <td scope="row">{{item.nombres}}</td>
                                    <td>{{item.documento}}</td>
                                    <td>{{item.empresa}}</td>
                                    <td>{{item.tipo}}</td>
                                </tr>
                                {% endfor %}
                            
                        
                        </tbody>
                        
                    </table>
                </div>
                
            </div>
            <div class="modal-footer">
                
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <script>
       
        function grafica(datos,tipo,title,titlex){
            const ctx = document.getElementById(tipo).getContext("2d");
            const migrafica = new Chart(ctx,{
                type:'bar',
                data:{
                
                    labels:datos[tipo],
                    datasets:[
                        {
                            label:title,
                            data:datos['cantidad'],
                            backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                            borderColor:  [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                            borderWidth: 1,

                        },
                    ],
                },
                options:{
                    responsive:true,
                    maintanAspectRatio:false,
                    scales:{
                        y:{
                            beginAtZero:true,
                            ticks: {
                                stepSize: 1, 
                                precision: 0 
                            }
                            
                        }
                    }
                }
            })
        }
        var datos = JSON.parse('{{ horas|escapejs }}');
        grafica(datos,'hora',"GRAFICA DE VISITAS POR HORAS","HORAS")
        var datos = JSON.parse('{{ mes|escapejs }}');
        grafica(datos,'mes',"GRAFICA DE VISITAS POR MES","MESES")
        var total_personas ='{{total_personal|escapejs}}'
        var cantidad_visitas ='{{cantidad_visitas|escapejs}}'
        var cantidad_personal ='{{cantidad_personal|escapejs}}'      
        var notify = JSON.parse('{{notify|escapejs}}')
    
        if (notify.length>0){
            $('#canti').text(notify.length)
            var component = $('#dropdownSubMenu2')
            component.attr('data-toggle','dropdown')
            component.attr('aria-haspopup','true')
            component.attr('aria-expanded','false')
            component.attr('class','nav-link dropdown-toggle')
            var add_comp = `<ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow"
                        style="right: 0px; left: inherit;">`
            for(item of notify){

                add_comp+=`<li>
                    <p class="dropdown-item">${item.message}</p>
                    </li>`
            }
            add_comp+=`</ul>`
            component.append(add_comp)
        }
        new DataTable('#data-1', {
            autoWidth:false,
            language:{
                url:"{% static '/lib/datatables/spain.json' %}"
            },
            "order": [[0, 'desc']],
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 filas', '25 filas', '50 filas', 'Todo' ]
            ],
            layout: {
                topStart: {
                    buttons: ['copy', 'excel', 'pdf',"print","pageLength"]
                }
            }
            });
       </script>
{% endblock %}
