{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'area_trabajo/js/list.js' %}"></script>
{% endblock head_list %}
{% block columnas %}
    <tr id="header-title">
        <th scope="col">ID</th>
        <th scope="col">AREA DE TRABAJO</th>
        <th scope="col">OPCIONES</th>
    </tr>
{% endblock columnas %}
{% block filas %}
{% for value in object_list %}
    <tr>
        <td>{{value.id}}</td>
        <td>{{value.area}}</td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'erp:area_trabajo_update' value.id %}" class="btn btn-warning btn-sm btn-flat" ><i class="fas fa-edit"></i></a>
                <a href="{% url 'erp:area_trabajo_delete' value.id %}" class="btn btn-danger btn-sm btn-flat"><i class="fas fa-trash"></i></a>

            </div>
        </td>
    </tr>
{% endfor %}
{% endblock filas %}
{% block javascript %}
    
{% endblock javascript %}