{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'ingre_salida/js/list.js' %}"></script>

{% endblock head_list %}
{% block columnas %}
    <tr id="header-title">
        <th>#ID</th>
        <th>DNI</th>
        <th>NOMBRE Y APELLIDOS</th>
        <th>EMPRESA</th>
        <th>FECHA INGRESO</th>
        <th>HORA INGRESO</th>
        <th>FECHA SALIDA</th>
        <th>HORA SALIDA</th>
        <th>PLACA AUTO</th>
        <th>PARQUEO</th>
        <th>MOTIVO</th>
        <th>OPCIONES</th>
    </tr>
{% endblock %}
{% block filas %}
    
{% endblock filas %}
{% block javascript %}
    
{% endblock javascript %}