{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'visitas/js/list.js' %}"></script>
{% endblock %}

{% block columnas %}
    <tr id="header-title">
        <th scope="col">#ID</th>
        <th scope="col">ESTADO</th>
        <th scope="col">NOMBRES Y APELLIDOS</th>
        <th scope="col">FECHA</th>
        <th scope="col">H.INICIO PROGRAMADO.</th>
        <th scope="col">H.FINAL PROGRAMADO.</th>
        <th scope="col">H.LLEGADA VISITA</th>
        <th scope="col">H.SALIDA VISITA</th>
        <th scope="col">DNI</th>
        <th scope="col">ACOMPAÑ.</th>
        <th scope="col">CARGO</th>
        <th scope="col">EMPRESA</th>
        <th scope="col">MOTIVO</th>
        <th scope="col">SALA</th>
        <th scope="col">SCTR</th>
        <th scope="col">PERSONA A QUIEN VISITA</th>
        <th scope="col">DOCUMENTOS</th>
        <th scope="col">VEHICULO</th>
        <th scope="col">EQUIPOS</th>
        <th scope="col">OPCIONES</th>
    </tr>

{% endblock %}

{% block filas %}

{% endblock %}

{% block javascript %}
   
       

{% endblock %}